-
    let portfolioData = [
    {
        title: "Lace",
        description: "A speculative art installation made during the 2018.2 Gray Area Incubator combining screenless AR & gestural interface design.",
        link: "/lace/index.html",
        giphyVideo: "https://media.giphy.com/media/9u1kB69890erWprN6V/giphy.mp4"
    },
    {
        title: "Dynamicland Experiments",
        description: "A collection of interfaces, toys, & educational materials made at the Dynamicland research lab/community space.",
        link: "/dynamicland-experiments/index.html",
        giphyVideo: "https://media.giphy.com/media/jUhfjIriaO8MNGlvyy/giphy.mp4"
    },
    {
        title: "AR Brushes",
        description: "A collection of web-based AR brush experiments.",
        linkTarget: "_blank",
        link: "https://twitter.com/i/moments/1058048447813578752",
        imageSrc: "/assets/images/ar-brushes.png"
    },
    {
        title: "PORE",
        description: "A gaze-only, communal VR art installation created for JSConf EU 2018.",
        link: "/pore/index.html",
        giphyVideo: "https://media.giphy.com/media/kF5P2E2zmZCNFplD0X/giphy.mp4"
    },
    {
        title: "Recreating \"A Horse In Motion\" in XR",
        description: "Recreated this early movie zoetrope-style in multiple emerging technologies.",
        link: "/writing/muybridge-xr/",
        giphyVideo: "https://media.giphy.com/media/kEaY9BkOBq0Usx7J62/giphy.mp4"
    },
    {
        title: "Samsung WebVR Grand Prize",
        description: "In October 2017 I won the Samsung Internet Grand Prize for my WebVR project \"CAFF\" (Cwervo's A-Frame Funland), a collection of short webVR experiments.",
        linkTarget: "_blank",
        link: "http://caff.glitch.me/",
        giphyVideo: "https://media.giphy.com/media/l1J9Q5Z6QWbzm9Eoo/giphy.mp4"
    },
    {
        title: "Fishbowl 360° VR Drawings",
        description: "A playlist of videos made using a fishbowl over a 360° camera where I draw to create a hand-drawn VR experience.",
        linkTarget: "_blank",
        link: "https://www.youtube.com/watch?v=iZLaBBYj1u0&list=PLeVLRVkVbp48fA4rEigcKpf5yzv2Y2Yr3",
        giphyVideo: "https://media.giphy.com/media/l0CLUUqi4qPsufs3K/giphy.mp4"
    },
    {
        title: "Github Pixel Editor",
        description: "~60 lines of Javascript turn the SVG squares of the GitHub.com commit calendar into a primitive pixel editor. Made available as a bookmarklet.",
        linkTarget: "_blank",
        link: "https://github.com/AndresCuervo/bookmarklet-collection#github-calendar-pixel-editor",
        giphyVideo: "https://media.giphy.com/media/26u4nJPf0JtQPdStq/giphy.mp4"
    },
    {
        title: "<i>The Ambassadors</i> Optical Illusion in VR",
        description: "Animating perspective to reveal the anamorphic projection of a skull in \"The Ambassadors\" (1533, Hans Holbein) in web VR.",
        linkTarget: "_blank",
        link: "https://codepen.io/cwervo/details/yPyLwV",
        giphyVideo: "https://media.giphy.com/media/3ov9k33p8GqPLVPMPe/giphy.mp4"
    },
    {
        title: "#ARctober 2017",
        description: "In the tradition of October based daily challenges like Inktober or Hacktoberfest I started doing daily web AR experiments.",
        linkTarget: "_blank",
        link: "https://medium.com/@cwervo/arctober-11da399199be",
        giphyVideo: "https://media.giphy.com/media/xT9IgH8PYaWmZ7qxgs/giphy.mp4"
    },
    {
        title: "Volumetric Loading Animations",
        description: "Exploring 3D loading animations using just custom HTML.",
        link:"/writing/volumetric-loaders/",
        giphyVideo: "https://media.giphy.com/media/xT9Igk37ghGf6mqj4I/giphy.mp4"
    },
    {
        title: "Imagine Trees Like These",
        description: "My undergraduate Creative Writing capstone project, an experimental VR narrative.",
        linkTarget: "_blank",
        link: "https://www.youtube.com/watch?v=Ca6quGC_hUk",
        giphyVideo: "https://media.giphy.com/media/xUA7aVBOP8qHI1TsoE/giphy.mp4"
    }
    ]
