-
    function getDayAndMonth(date) {
        let month = date.toLocaleString(locale, {
            month: "long"
        });
        return ('current' === date ? 'current' : `${month} ${date.getFullYear()}`)
    }
-
    let workData = {
        'Folk Computer' : {
            jobTitle: 'Founder',
            startDate: new Date('February 2022'),
            endDate: 'current',
            description: [
                'Working on tangible computing.',
            ]
        },
        'Movable Ink' : {
            jobTitle: 'Senior AR Engineer',
            startDate: new Date('August 2019'),
            endDate: new Date('November 2023'),
            description: [
                'Working with the CTO & the Head of Immersive Technology to create AR tools customers use to add face filters & 3D product visualizations into their marketing',
                'Combining Three.js, React, & Ember with occasional JS machine learning frameworks to create Web AR apps',
                'Advising the company\'s growing Design Systems team',
                'Was Movable Ink\'s W3C Advisory Committee representative & member of the WebXR Working Group (2020-2021)'
            ]
        },
        'High Voltage Hibiscus' : {
            jobTitle: 'Software engineer/designer/researcher',
            startDate: new Date('January 2019'),
            endDate: new Date('August 2019'),
            description: [
                'Running a single person hybrid studio/consulting business working on immersive web technologies (WebXR, VR, AR) and running workshops on emerging technologies and design',
                'Developing art installations, websites & apps'
            ]
        },
        'Google' : {
            jobTitle: 'AR Prototyper',
            startDate: new Date('February 2018'),
            endDate: new Date('December 2018'),
            description: [
                'Prototyped new effects & tools for the creation of AR messaging experiences (GBoard, Google Duo) using OpenFrameworks, C++, Objective-C, Swift, OpenGL, & Metal. Examples include: 3D typography, 3D sprite mapping, & fast facial recognition.',
                'Worked with designers, art directors, & other UX engineers to convert designs for augmented reality effects into production-ready prototypes'
            ]
        },
        'CircleCI' : {
            jobTitle: 'Software Engineer',
            startDate: new Date('June 2016'),
            endDate: new Date('February 2018'),
            description : [
                'Completely rewrote email templating engine & overhauled design',
                'Worked with lead designer to implement new website UI & suggest/build UX improvements (web notifications, new site navigation hierarchy, proto-style guide)',
                'Worked on frontend migration from ClojureScript to React while building new pricing UI'
            ]
        },
        'Brightlite Interactive' : {
            jobTitle: 'WebAR UX Consultant',
            startDate: new Date('November 2017'),
            endDate: new Date('January 2018'),
            description : [
                'Made recommendations about physical layout, lighting conditions, & UX tradeoffs of AR markers',
                'Provided feedback on structuring & editing the internals of Three & AR.js project for optimal tracking'
            ]
        },
        'Homies.io' : {
            jobTitle: 'WebVR Programmer',
            startDate: new Date('August 2017'),
            endDate: new Date('November 2017'),
            description: [
                'Built an A-Frame VR prototype of a webVR art gallery',
                'Loaded 360° videos & metadata from a database & created a cross-platform gallery to browse & view the content'
            ]
        }
    }
