-
    function getDayAndMonth(date) {
        let month = date.toLocaleString(locale, {
            month: "long"
        });
        return ('current' === date ? 'current' : `${month} ${date.getFullYear()}`)
    }
-
    let workData = {
        'Google' : {
            jobTitle: 'AR Prototyper',
            startDate: new Date('February 2018'),
            endDate: new Date('December 2018'),
            description: [
                'Prototyped new effects & tools for the creation of AR messaging experiences (GBoard, Google Duo) using OpenFrameworks, C++, Objective-C, Swift, OpenGL, & Metal. Examples include: 3D typography, 3D sprite mapping, & fast facial recognition.',
                'Worked with designers, art directors, & other UX engineers to convert designs for augmented reality effects into production-ready prototypes'
            ]
        },
        'CircleCI' : {
            jobTitle: 'Software Engineer',
            startDate: new Date('June 2016'),
            endDate: new Date('February 2018'),
            description : [
                'Completely rewrote email templating engine & overhauled design',
                'Worked with lead designer to implement new website UI & suggest/build UX improvements (web notifications, new site navigation hierarchy, proto-style guide)',
                'Worked on frontend migration from ClojureScript to React while building new pricing UI'
            ]
        },
        'Brightlite Interactive' : {
            jobTitle: 'WebAR UX Consultant',
            startDate: new Date('November 2017'),
            endDate: new Date('January 2018'),
            description : [
                'Made recommendations about physical layout, lighting conditions, & UX tradeoffs of AR markers',
                'Provided feedback on structuring & editing the internals of Three & AR.js project for optimal tracking'
            ]
        },
        'Homies.io' : {
            jobTitle: 'WebVR Programmer',
            startDate: new Date('August 2017'),
            endDate: new Date('November 2017'),
            description: [
                'Built an A-Frame VR prototype of a webVR art gallery',
                'Loaded 360° videos & metadata from a database & created a cross-platform gallery to browse & view the content'
            ]
        }
    }
