doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title ? title+" - " : ""} cwervo.com
        link(rel="stylesheet" href="/main.css")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site", content="@acwervo")
        meta(name="twitter:title", content=(twitterTitle ? twitterTitle : "cwervo.com"))
        meta(name="twitter:description", content=(twitterDescription ? twitterDescription : "Andrés Cuervo's slice of the web."))

        link(rel="icon" type="image/png" href="/assets/images/favicon.png")
        meta(name="viewport" content="initial-scale=1.0")
    !{content}

