doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        // Disallow search engine indexing
        meta(name="robots" content="noindex, nofollow")

        link(rel="stylesheet" href="/main.css")

        meta(name="viewport" content="initial-scale=1.0")
        style.
            @import url('https://fonts.googleapis.com/css?family=Work+Sans');

            body {
                font-family: 'Work Sans', sans-serif;
                font-size: 15px;
                margin: 0 1in;
                max-width: 8in;
            }
            a { color: black; }
            .name, .header {
                margin-bottom: 0;
            }
            .jobHeader {
                margin-top: 0.1in;
                margin-bottom: 0.05in;
            }
            .jobTitle {
                margin-top: 0in;
                margin-bottom: -0.1in;
            }
            ul {
                list-style-type: circle;
                border-left: 5px solid #2EAFAC;
                padding-left: 35px;
            }
            @media all {
                .page-break { display: none; }
            }
            @media print {
                @page {
                    size: auto;
                    margin: 0.1in;
                }
                html {
                    background-color: #FFFFFF;
                    /*
                    Need to manually increase this to get more pages to print
                    without the bottom footer (site & page count)
                    */
                    height: 200vh;
                }
            }
            .bold { font-weight: bold; }
            .debug-style { outline: 1px dashed red; }
            .margin-above { margin-top: 0.1in; }
            .pad-above { margin-top: 0.1in; }
    body
        | !{content}
