body {
    font-size: 1.5rem;
}

blockquote {
    border-left: 5px solid #2EAFAC;
    padding-left: 1em;
    font-style: italic;
}
/* blockquote p::before { */
/*     content: '“'; */
/*     font-size: 2em; */
/*     margin-right: 0.25em; */
/* } */
/* blockquote p::after { */
/*     content: '”'; */
/*     font-size: 2em; */
/*     margin-left: 0.25em; */
/* } */

table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
table, th, td {
    padding: 1% 5%;
    border: 1px solid #111;
}

#blog-title {
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    body {
        font-size: 1.25rem;
    }
    table {
        width: 70%;
    }
    #blog-title {
        font-size: 3.5rem;
    }
}
