---
title: Work
layout: layouts/base.pug
gridStyle: true
---
include _includes/portfolio-data.pug

.grid
    each item in portfolioData
        a.gridItem(style="display: block;" href=item.link target=(item.linkTarget ? item.linkTarget : ""))
            - if (item.giphyVideo)
                video(playsinline="true" muted="true" autoplay="true" loop="true" style="max-width: 100%;")
                    source(src=item.giphyVideo)
            .title !{item.title}
            .description !{item.description}
